/*@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,400,700');*/
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700');

body{
	/*font-family: 'Ubuntu', sans-serif;*/
	font-family: 'Source Sans Pro', sans-serif;
	background: url("../img/pattern.png");
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	word-spacing: 0.75px;
}

.b-nm{
	padding: 0px;
}

.menu{
	margin: 10px 0px;
	text-align: center;
	margin-bottom: 100px;
}

.contact{
	border-radius: 15px;
	color: white !important;
	background: #424242;
	padding: 12px 60px;
	/*text-transform: uppercase;*/
	letter-spacing: 0.2px;
	font-size: 14px;
	transition: background-color 0.5s ease;
	box-shadow: 0px 10px 35px rgba(0,0,0,0.2);
	font-weight: 400;
}

.contact:hover{
	background: #626262;
	text-decoration: none;
}

.otherbox{
	max-width: 600px;
	margin: 0 auto;
	margin-top: 50px;
}

.otherbox .title{
	margin-bottom: 15px;
}

.otherbox .desc{
	margin-bottom: 40px;
}

.center{
	text-align: center;
}

a{
	cursor: pointer;
}

.contacto{
	border: 2px solid #008CC8;
	border-radius: 10px;
	color: #008CC8 !important;
	transition: background-color 0.5s ease;
	padding: 10px 30px;
	font-weight: 600 !important;
}

.contacto:hover{
	background: #008CC8;
	color: white !important;
	text-decoration: none;
}

.menu a{
	padding: 10px 40px;
	display: inline-block;
	/*text-transform: uppercase;*/
	font-size: 13.5px;
	font-weight: 600;
	color: #626262;
	letter-spacing: 0.5px;
}

.menu a:hover{
	color: #008CC8;
	text-decoration: none;
}

nav{
	text-align: center;
	background: #424242;
	background: #23332F;
	padding: 10px;
	/*color: white;*/
	background: white;
	font-size: 12px;
	font-weight: 400;
	letter-spacing: 10px;
	position: fixed;
	width: 100%;
	top: 0;
	z-index: 10;
	/*border-bottom: 2px solid #424242;*/
	box-shadow: 0px 3px 10px rgba(0,0,0,0.2);
}

.hr{
	width: 40px;
	height: 1px;
	background: white;
	margin-bottom: 30px;
	margin-top: 30px;
}

.who{
	margin: 0px;
	margin-top: 50px;
	margin-bottom: 90px;
}

.what{
	background: white;
	padding: 0px;
	margin: 0px;
}

.filter{
	background: rgba(0,140,200,0.9);
	padding: 150px 20px;
}

.cover{
	margin-top: 37px;
	margin-bottom: 30px;
	background: url("../img/cover.jpg") center center;
	/*background: #31BD7E;*/
	background-size: cover;
	padding: 0px;
	text-align: center;
}

.cover .filter{
	padding: 160px 30px;
	background: rgba(0,140,200,0.5);
}

.hcr{
	margin: 0 auto;
	margin-top: 30px;
	margin-bottom: 30px;
	width: 50px;
	height: 1px;
	background: #23FFA9;
}

.cover h1{
	font-weight: 400;
	font-size: 33px;
	line-height: 1.35;
	/*text-transform: uppercase;*/
	margin-bottom: 30px;
	/*letter-spacing: 1px;*/
	color: white;
}

.cover h1 > span{
	/*text-shadow: 0px 0px 30px rgba(0,0,0,0.5);*/
}

.cover-desc{
	font-weight: 400;
	font-size: 15px;
	line-height: 1.5;
	letter-spacing: 0.5px;
	color: white;
	/*opacity: 0.9;*/
	margin-bottom: 30px;
}

.cover .cover-desc{
	max-width: 400px;
	margin: 0 auto;
	margin-bottom: 40px;
}

.title{
	font-size: 27px;
	line-height: 1.4;
	margin: 0px;
	font-weight: 400;
	color: #323232;
	margin-bottom: 20px;
}

.title span{
	font-weight: 400;
	color: #008CC8;
}

.desc{
	line-height: 1.5;
	font-weight: 400;
	font-size: 15px;
	/*color: #34495e;*/
	color: #727272;
}

.info-box{
	padding: 60px 50px;
}

.info-img{
	padding: 60px;
	margin: 0px;
	background: url("../img/phone.jpg") center center;
	background-size: cover;
	height: 350px;
}

.phrase{
	background: url("../img/young.jpg") center center;
	background-size: cover;
	margin: 0px;
}

.phrase h2{
	color: white;
	/*text-transform: uppercase;*/
	font-size: 25px;
	/*letter-spacing: 1px;*/
	line-height: 1.3;
	font-weight: 400;
	margin-bottom: 20px;
}

.phrase .cover-desc{
	margin-bottom: 35px;
}

.b-box{
	margin-bottom: 20px;
}

.color-box{
	background: #31BD7E;
	background: #008CC8;
	min-height: 350px;
	padding: 65px 50px;
}

.color-t{
	color: white;
	font-weight: 400;
	font-size: 25px;
	letter-spacing: 0.5px;
	margin-bottom: 20px;
	line-height: 1.5;
}

.col-img-box{
	background: url("../img/ai1.jpg") center center;
	background-size: cover;
	height: 350px;
}

.topic{
	color: white;
	font-weight: 300;
}

.topicweb{
	background: url("../img/web1.jpg");
	background-size: cover;
}

.topicsof{
	background: url("../img/sof1.jpg");
	background-size: cover;
}

.topicapp{
	background: url("../img/who.jpg");
	background-size: cover;
}

.team{
	padding: 100px 30px;
	background: #008CC8;
}

.team .container{
	/*max-width: 800px;*/
}

.quote{
	font-size: 25px;
	line-height: 1.5;
	font-weight: 400;
	/*letter-spacing: 1px;*/
	/*text-transform: uppercase;*/
	color: white;
	padding: 50px;
	padding-top: 30px;
}

.minititle{
	font-weight: 600;
	font-size: 22px;
	/*letter-spacing: 1px;*/
	padding-bottom: 10px;
	display: inline-block;
	margin-bottom: 10px;
	/*text-transform: uppercase;*/
}

.topic .cover-desc{
	margin-bottom: 40px;
	font-size: 14px;
}

.minifilter{
	background: rgba(0,0,0,0.75);
	color: white;
	min-height: 300px;
	text-align: center;
	padding: 65px 60px;
}

small{
	opacity: 0.9;
	font-weight: 400;
	color: white;
	font-size: 16px;
	/*letter-spacing: 2px;*/
	line-height: 1.5;
}

.relative{
	position: relative;
}

.width600{
	max-width: 600px;
	margin: 60px auto;
	margin-top: 20px;
	margin-bottom: 50px;
	text-align: center;
	border-top: 1px solid rgba(0,0,0,0.2);
	padding-top: 40px;
}

.footer{
	padding: 70px 0px;
	opacity: 0.9;
	line-height: 1.4;
	font-weight: 400;
	/*letter-spacing: 1px;*/
}

@media (max-width: 900px) {

	.quote{
		padding: 5px;
		padding-top: 30px;
		padding-bottom: 0px;
		text-align: center;
		font-size: 22px;
	}

	.team{
		padding-top: 50px;
		padding-bottom: 50px;
	}

	.info-box{
		padding: 30px;
	}

	.color-box{
		padding: 50px 30px;
		border-radius: 0px;
		min-height: auto;
	}

	.col-img-box{
		display: none;
	}

	.contact{
		width: 100%;
		display: block;
		text-align: center;
		border-radius: 7px;
	}

	.center{
		text-align: left;
	}

	.otherbox{
		padding: 0px 15px;
	}

	.width600{
		margin-top: 10px;
		margin-bottom: 35px;
		text-align: left;
		padding: 0px 15px;
		padding-top: 40px;
	}

	.cover{
		text-align: left;
	}

	.cover .filter{
		padding-top: 120px;
		padding-bottom: 120px;
	}

	.cover h1{
		font-size: 30px;
		line-height: 1.5;
		margin-bottom: 20px;
	}

	.who{
		margin-top: 0px;
		margin-bottom: 50px;
	}

	.b-box{
		margin-bottom:0px;
	}

}